body {
    font-family: 'Roboto', sans-serif;
}

.error {
    border: 2px solid red;
}

.app__button {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    background-color: #0e5511;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.5s;
}